@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../styles/_reset.css');

@keyframes move {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(10px);
  }
}

.animate-move {
  animation: move 3s infinite ease-in-out alternate;
}
